<!-- views/home.ejs -->
<%- include('layout', { body: `
  <section class="header-section">
    <div class="container">
      <div class="row">
        <div class="col-2">
          <h1>Donnez à votre <br> apparence <br> un nouveau style !</h1>
          <p>
            L'habit ne fait pas le moine <br>
            Mais on reconnait <br> le moine
            Par son habit!
          </p>
          <a href="/Services" class="btn">Voir nos services &#8594</a>
        </div>
        <div class="col-2">
          <img src="../image/image1---.png" alt="Landing images">
        </div>
      </div>
    </div>
  </section> 
    
` }) %>
