<!-- views/services.ejs -->
<%- include('layout', { body: `
    <!-- sections des categories -->
     <section class="categorie">
        <div class="container">
            <h2>Categories a la une</h2>
            <div class="row">
                <div class="col-3">
                    <img src="../image/image2--.png" alt="category-1">
                </div>
                <div class="col-3">
                    <img src="../image/image3--.png" alt="category-2">
                </div>
                <div class="col-3">
                    <img src="../image/image4--.png" alt="category-3">
                </div>
            </div>
        </div>
     </section>

     <!-- Sections des meilleurs produits -->
      <section class="featured-products">
        <div class="container">
            <h2>Les meilleurs produits</h2>
            <div class="row">
                <div class="col-4">
                    <img src="../image/image5--.png" alt="product-1">
                    <h3>Tenue africaine</h3>
                    <div class="rating">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                        <i class="fa-regular fa-star"></i>
                    </div>
                    <p>500000 fcfa</p>
                </div>
                <div class="col-4">
                    <img src="../image/image6--.png" alt="product-2">
                    <h3>Tenue africaine</h3>
                    <div class="rating">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <p>800085fcfa</p>
                </div>
                <div class="col-4">
                    <img src="../image/image7--.png" alt="product-3">
                    <h3>Tenue africaine</h3>
                    <div class="rating">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <p>450022 fcfa</p>
                </div>
                <div class="col-4">
                    <img src="../image/image8--.png" alt="product-4">
                    <h3>Tenue africaine</h3>
                    <div class="rating">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                    </div>
                    <p>500000 fcfa</p>
                </div>
            </div>
        </div>
      </section>

      <!-- Nos derniers produits -->
      <section class="featured-products">
        <div class="container">
            <h2>Nos derniers produits</h2>
            <div class="row">
                <div class="col-4">
                    <img src="../image/image9--.png" alt="product-5">
                    <h3>Tenue africaine</h3>
                    <div class="rating">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                        <i class="fa-regular fa-star"></i>
                    </div>
                    <p>500025 fcfa</p>
                </div>
                <div class="col-4">
                    <img src="../image/image10--.png" alt="product-6">
                    <h3>Tenue africaine</h3>
                    <div class="rating">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <p>80000 fcfa</p>
                </div>
                <div class="col-4">
                    <img src="../image/image11--.png" alt="product-7">
                    <h3>Tenue africaine</h3>
                    <div class="rating">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <p>250000 fcfa</p>
                </div>
                <div class="col-4">
                    <img src="../image/image12--.png" alt="product-8">
                    <h3>Tenue africaine</h3>
                    <div class="rating">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                    </div>
                    <p>90000 fcfa</p>
                </div>
            </div>
            
        </div>
      </section>
` }) %>
r