@import url("https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: radial-gradient(#e77e7e, #b2d0f1);
  font-family: "Poppins", sans-serif;
}

.logo {
  color: #000;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 28px;
}

nav ul {
  display: flex;
  list-style-type: none;
}

nav ul li {
  margin-right: 48px;
}

nav ul li a {
  text-decoration: none;
  color: #000;
  font-size: 24px;
  font-weight: bold;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 28px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.col-2 {
  flex-basis: 50%;
  min-width: 300px;
}

.col-2 img {
  width: 100%;
  padding: 30px 0;
}

.col-2 h1 {
  font-size: 36px;
  font-weight: bold;
}

.col-2 p {
  margin-top: 20px;
}

.btn {
  background-color: #16a7ba;
  color: #fff;
  padding: 16px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  margin-top: 25px;
  border-radius: 30px;
  padding: 10px 30px;
  transition: 0.7s;
}

.btn:hover {
  background-color: #106e77;
}

/* style de la section categorie */
.categorie h2 {
  font-size: 2.2rem;
  font-weight: bold;
  text-align: center;
  margin-top: 48px;
}

.col-3 {
  flex-basis: 30%;
  min-width: 300px;
  margin: auto;
}

.col-3 img {
  width: 100%;
  margin-top: 58px;
}

/* Sections des meilleur produits */
.featured-products h2 {
  font-size: 2.2rem;
  font-weight: bold;
  text-align: center;
  margin: 48px 0;
}

.col-4 {
  flex-basis: 24%;
  min-width: 200px;
  margin: auto;
  transition: transform 0.4s;
}

.col-4 img {
  width: 100%;
}

.col-4:hover {
  transform: translateY(-10px);
}

/* style du formullaire de contact */

.contact-section {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-contact {
  position: relative;
  min-width: 1200px;
  min-height: 550px;
  display: flex;
  z-index: 1000;
}

.container-contact .contact-info {
  position: absolute;
  top: 40px;
  width: 480px;
  height: calc(100% - 80px);
  background-color: #0f3959;
  z-index: 2;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-between;
}

.contact-info h2 {
  color: #fff;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
}

.contact-info .info {
  position: relative;
  margin: 20px 0;
  justify-content: center;
  font-size: 18px;
}

.contact-info .info li {
  position: relative;
  list-style-type: none;
  top: -34px;
  letter-spacing: 0.4px;
  display: flex;
  margin: 70px 0;
  cursor: pointer;
  align-items: center;
  color: #fff;
  font-weight: bold;
}

.info .fas {
  color: white;
  margin-right: 18px;
  font-size: 40px;
}

.container-contact .contact-form {
  position: absolute;
  padding: 70px 50px;
  padding-left: 250px;
  z-index: 1;
  margin-left: 250px;
  width: calc(100% - 250px);
  height: 100%;
  background: #fff;
  box-shadow: 0px 50px 50px rgba(0, 0, 0, 0.25);
}

.contact-form h2 {
  color: #0f3959;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
}

.formBox {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 30px;
}

.inputBox {
  position: relative;
  margin-bottom: 30px;
}

.inputBox.w50 {
  width: 48%;
}

.inputBox.w100 {
  width: 100%;
}

.inputBox input,
.inputBox textarea {
  width: 100%;
  resize: none;
  padding: 5px 0;
  font-size: 18px;
  font-weight: bold;
  color: #333;
  border: none;
  outline: none;
  border-bottom: 1px solid #777;
}

.inputBox textarea {
  height: 120px;
}

.inputBox span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  pointer-events: none;
  font-size: 18px;
  font-weight: 300;
  transition: 0.3s;
}

.inputBox input:focus ~ span,
.inputBox input:valid ~ span,
.inputBox textarea:focus ~ span,
.inputBox textarea:valid ~ span {
  transform: translateY(-20px);
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #095a55;
  font-weight: 500;
}

.inputBox input[type="submit"] {
  position: relative;
  cursor: pointer;
  background-color: #095a55;
  color: #fff;
  border: none;
  max-width: 150px;
  padding: 12px;
  border-radius: 10px;
}

.inputBox input[type="submit"]:hover {
  background-color: #0d948b;
}

/* Style du footer */

#container-footer {
  display: flex;
  margin-top: 40px;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 20px;
}

.footer-content {
  flex: 1;
  text-align: left;
  padding: 10px;
}

.footer-content ul {
  list-style-type: none;
  text-align: center;
  padding: 0;
}

.footer-content h3{
  font-size: 24px;
  margin-bottom: 15px;
  text-align: center;
}

.footer-content p{
  width: 380px;
  margin: auto;
  padding: 7px;
  color: #0f3959;
}

.footer-content:nth-child(2) {
  text-align: center;
}

.footer-content:nth-child(3) {
  text-align: right;
}

.list{
  padding: 0;
}

.list li{
  width: auto;
  text-align: center;
  list-style-type:none;
  padding: 7px;
  position: relative;
}

.list li a {
  text-decoration: none;
  color: #0f3959;
}

.list li::before {
  content: '';
  position: absolute;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 100%;
  width: 0;
  height: 2px;
  background: #0f3959;
  transition-duration: .5s;
}

.list li:hover::before{
  width: 70px;
}

.social-icons{
  text-align: center;
  padding: 0;
}

.social-icons li{
  display: inline-block;
  text-align: center;
  padding: 5px;
}

.social-icons i{
  font-size: 25px;
  color: #0f3959
}

.bottom-bar{
  background: #0f3959;
  text-align: center;
  padding: 10px 0;
  margin-top: 50px;
}

.bottom-bar p{
  color: #fff;
  margin: 0;
  font-size: 16px;
  padding: 7px;
}

/* Ajustement pour les petits écrans */
@media (max-width: 768px) {
  footer .container {
    flex-direction: column;
    text-align: center;
  }

  .footer-content {
    text-align: center;
    margin-bottom: 20px;
  }
}
